.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cartItem {
    /* width: 100%;
    height: 12.5rem;
    display: flex;
  
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    justify-content: left; */
    
  }

  .cartItemCard {
    /* width: 100%;
    height: 12.5rem;
    display: flex;
  
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    justify-content: left;
    display: flex;
    flex-direction: row; */
    
  }
/*may need to change width back to 700 for cartItem and added justify-content*/
  
  .cartItem .image {
    /* width: 100%;
    height: 15vh;
    object-fit: contain;
    align-content: flex-start;
    margin-right: 520px; */
    }
 /* set image is to the left and made it smaller */
  
  .cartItem .description {
    width: 100%;
    font-size: 15px;
    align-content: flex-end;
    margin-top: 40px;
  }
/* set whole description content to the right of image */
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
  }

  .checkout p {
    font-weight: bold;
  }
  
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }

/* ***************** Mobile view ******************* */



@media (prefers-reduced-motion: no-preference) {
  /*Don't need this*/
}
/* Change view depending on size of screen */
@media only screen and (max-width: 600px) {
  .cart {
    display: grid;
    position: relative;
  }

  .cartItem {
    width: 100vw;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin: 0rem;
    box-shadow: 0px .1875rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1.5625rem;

    
  }
  .cartItemCard {

    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    float: left

  }

  .cartItem .image {
    width: 100%;
    height: 15vh;
    object-fit: contain;

    margin-left: -8rem;
    float: left;
    }

  .cartItemCard .image {
    width: 100%;
    height: 15vh;
    object-fit: contain;
    float: left;
    margin-top: .5rem;

  }


  .cartItemCard .description {
    margin-left: -1rem;
    padding-bottom: 15rem;
    margin-top: .75rem;
  }
  .cartItemCard .text {
    margin-bottom: 0rem;
  }

    
  .countHandler {
    border-width: .5rem;
    width: auto;
    
  }
  .checkout {
    position: fixed;
    bottom: 0rem;
    margin-left: 1.25rem;
  }

  .checkout p {
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

}
@media only screen and (min-width: 600px) {
  
}

@media only screen and (min-width: 768px) {
  .cart {
    display: grid;
  }

  .cartItem {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: 0rem;
    box-shadow: 0px .1875rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1.5625rem;

    
  }
  .cartItemCard {

    display: grid;
    grid-template-columns: 1fr;
    float: left

  }

  .cartItem .image {
    width: 100%;
    height: 15vh;
    object-fit: contain;

    margin-left: -18rem;
    float: left;
    }

  .cartItemCard .image {
    width: 100%;
    height: 15vh;
    object-fit: contain;
    float: left;
    margin-top: -.5rem;

  }


  .cartItemCard .description {
    margin-left: 18rem;
    padding-bottom: 15rem;
    margin-top: .75rem;
  }
  .cartItemCard .text {
    margin-bottom: 0rem;
  }

    
  .countHandler {
    border-width: .5rem;
    width: auto;
    
  }

  .checkout {
    ;
  }

  .checkout p {
    font-weight: bold;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  
}
