.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: fadeIn;
    animation-duration: 4s;
}

.links {
    margin-right: 50px;
    display: flex;
    align-items: center;

}

.links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
    
    
}

.homelink:hover {
    animation: shakeY;
    animation-duration: 3s;
    background-color: transparent;
    color: red;
}

.shoplink:hover {
    animation: shakeY;
    animation-duration: 3s;
    background-color: transparent;
    color: red;
}

.cartlink:hover {
    animation: shakeY;
    animation-duration: 3s;
    background-color: transparent;
    color: red;
}

/* ***************** Mobile view ******************* */



@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  /* Change view depending on size of screen */
  @media only screen and (max-width: 600px) {
    .links {
        margin-right: 10px;
        display: flex;
        align-items: center;
    
    }
  }
  @media only screen and (min-width: 600px) {
    .links {
        margin-right: 10px;
        display: flex;
        align-items: center;
    
    }
  }
/* I dont think I need these setting for  other 
then these above screen sizes */
  @media only screen and (min-width: 768px) {
  
  }
  
  @media only screen and (min-width: 992px) {
  
  }
  
  @media only screen and (min-width: 1200px) {
    
  }