/* This is just styling for the subheader */

.breadcrumb {
    display: flex;
    list-style: none;
    animation: bounceInLeft;
    animation-duration: 1.5s;
    
}
/* className of breadcrumb to show properly */

.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    animation: wobble;
    animation-duration: 2s;
   
}
/* for the list item of className */

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";

}


.breadcrumb li a {
    color: #f00404;
    text-decoration: none;
    
}
/* before click color */

.breadcrumb li a:hover {
    color: #000000;
    text-decoration: underline;  
    
}
/* after hover over icon */

@media (prefers-reduced-motion: no-preference) {
  /*not necessary*/
  }
  /* Change view depending on size of screen */
  @media only screen and (max-width: 600px) {
    .breadcrumb {
        display: flex;
        list-style: none;
        animation: bounceInLeft;
        animation-duration: 1.5s;
        margin-left: -2rem;
        
    }
  }
  @media only screen and (min-width: 600px) {
   /* may not need this */
  }
  
  @media only screen and (min-width: 768px) {
    .breadcrumb {
        display: flex;
        list-style: none;
        animation: bounceInLeft;
        animation-duration: 1.5s;
        margin-left: -2rem;
        
    }
  }
  /* may not need any of these */
  @media only screen and (min-width: 992px) {
  
  }
  
  @media only screen and (min-width: 1200px) {
    
  }
  